@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

*{margin: 0; padding: 0;box-sizing: border-box;}
img {
  vertical-align: middle;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],
input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],
input[type=color],.uneditable-input {
  border-radius: 0;
  font-size: 18px;
  min-width: auto;
  letter-spacing: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: open sans, sans-serif;
  line-height: 1.6;
  padding: 10px;
  height: 44px;
  vertical-align: middle;
  border: 1px solid #eee;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
body{
  overflow-x: hidden;
  width: 100%;
  font-family: open sans, sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #fff;
  color: #6f6b80;
  margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  line-height: 1.3;
  font-family: jost, sans-serif;
  color: #000;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 40px;
  position: relative;
  clear: both;
}

.reactweb_mainwrapper {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.reactweb_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 25px 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.reactweb_header .logo a{font-size: 20px; color: #000; text-decoration: none; font-weight: 600;}
.reactweb_header.animate {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.reactweb_header .inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reactweb_header .menu ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.reactweb_header .menu ul li {
  margin: 0 48px 0 0;
  display: inline-block;
}

.reactweb_header .menu ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: jost, sans-serif;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.reactweb_header .menu ul li.current a {
  color: #f75023;
}

.reactweb_section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.reactweb_hero {
  width: 100%;
  height: 100vh;
  clear: both;
  float: left;
  position: relative;
  margin-bottom: 190px;
}

.reactweb_hero .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reactweb_hero .container {
  height: 100%;
}
.reactweb_hero .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reactweb_hero .details {
  width: 50%;
  padding-right: 20px;
}



.reactweb_hero .hello h3 {
  font-size: 45px;
}

.orangeText {
  color: #f75023 !important;
  fill: #f75023 !important;
}

.reactweb_hero .name {
  margin-bottom: 18px;
}

.reactweb_hero .name h3 {
  font-size: 85px;
}

.reactweb_hero .job {
  margin-bottom: 35px;
}

.reactweb_hero .job p {
  font-size: 28px;
  color: #000;
  font-weight: 500;
}
.greenText {
  color: #1cbe59 !important;
  fill: #1cbe59 !important;
}

.purpleText {
  color: #8067f0 !important;
  fill: #8067f0 !important;
}

.reactweb_hero .text {
  margin-bottom: 42px;
}

.reactweb_hero .button {
  display: flex;
  align-items: center;
}

.reactweb_hero .button {
  display: flex;
  align-items: center
}

.reactweb_hero .reactweb_button {
  width: auto
}

.reactweb_button {
  width: 100%;
  height: auto;
  clear: both;
  float: left
}
.reactweb_button .submit_button{
  cursor: pointer;
  line-height: 30px;
}
.reactweb_button a, .reactweb_button .submit_button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: jost, sans-serif;
  font-weight: 500;
  border-radius: 50px;
  border: 2px solid #f75023;
  padding: 14px 48px 13px;
  position: relative;
  overflow: hidden
}

.reactweb_button span {
  position: relative;
  z-index: 2;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.reactweb_button a:before,
.reactweb_button .submit_button:before {
  position: absolute;
  content: "";
  z-index: 0;
  background-color: #f75023;
  left: -5px;
  right: -5px;
  bottom: -5px;
  height: 110%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.reactweb_button a:hover:before, .reactweb_button .submit_button:hover:before {
  height: 0
}

.reactweb_button a:hover span,
.reactweb_button .submit_button:hover span {
  color: #000
}

.reactweb_hero .avatar img {
  max-height: 400px
}
.reactweb_hero .text p {
  font-size: 23px;
  line-height: 1.5;
}
.reactweb_process {
  width: 100%;
  height: auto;
  clear: both;
  float: left
}

.reactweb_process .list {
  width: 100%;
  height: auto;
  clear: both;
  float: left
}

.reactweb_process ul {
  margin: 0 0 0 -70px;
  list-style-type: none
}

.reactweb_process ul li {
  margin: 0 0 70px;
  width: 33.3333%;
  float: left;
  padding-left: 70px;
  text-align: center
}

.reactweb_process ul li .list_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative
}

.reactweb_process .icon {
  margin-bottom: 30px
}

.reactweb_process .icon span {
  position: relative;
  display: inline-block
}

.reactweb_process .icon .brush {
  max-width: 125px;
  position: relative
}

.reactweb_process .icon .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px
}

.reactweb_process .title {
  margin-bottom: 20px
}

.reactweb_process .title h3 {
  font-size: 24px
}

.reactweb_about {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 112px;
  padding-bottom: 150px;
  position: relative
}

.reactweb_about .wrapper {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center
}

.reactweb_about .left {
  width: 50%;
  padding-right: 60px
}

.reactweb_about .left .image {
  position: relative
}

.reactweb_about .left .image img {
  max-height: 800px
}

.reactweb_about .numbers {
  position: absolute
}

.reactweb_about .numbers.year {
  top: 120px;
  left: -80px
}

.reactweb_about .numbers.project {
  bottom: 70px;
  right: -30px
}

.reactweb_about .numbers .wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 25px 0 65px rgba(54, 32, 152, .11);
  border-radius: 8px;
  padding: 34px 40px 31px 36px
}

.reactweb_about .numbers.project .wrapper {
  padding: 14px 30px 11px 26px
}

.reactweb_about .numbers .wrapper h3 {
  font-size: 60px;
  color: #1cbe59
}

.reactweb_about .numbers.project h3 {
  color: #6e50f0
}

.reactweb_about .numbers .wrapper .name {
  font-size: 21px;
  color: #000;
  font-weight: 500;
  font-family: jost, sans-serif;
  line-height: 1.3;
  padding-left: 17px
}

.reactweb_about .right {
  width: 50%;
  padding-left: 60px
}

.reactweb_about .right .title {
  margin-bottom: 25px
}

.reactweb_about .right .title span {
  display: inline-block;
  color: #f75023;
  font-size: 24px;
  font-weight: 500;
  font-family: jost, sans-serif;
  margin-bottom: 6px
}

.reactweb_about .right .title h3 {
  font-size: 48px;
  max-width: 90%;
  line-height: 1.25
}

.reactweb_about .right .text {
  margin-bottom: 47px
}

.reactweb_about .brush_1 {
  position: absolute;
  top: 20px;
  left: 120px
}

.reactweb_about .brush_2 {
  position: absolute;
  bottom: -50px;
  right: 0
}

.reactweb_main_title {
  width: 100%;
  max-width: 680px;
  height: auto;
  clear: both;
  text-align: center;
  margin: 0 auto
}

.reactweb_main_title[data-align=left] {
  text-align: left;
  margin: 0 !important
}

.reactweb_main_title[data-align=center] {
  text-align: center;
  margin: 0 auto
}

.reactweb_main_title[data-align=right] {
  text-align: right;
  margin: 0 !important
}

.reactweb_main_title span {
  font-size: 24px;
  font-weight: 500;
  color: #f75023;
  font-family: jost, sans-serif;
  display: inline-block;
  margin-bottom: 6px
}

.reactweb_main_title h3 {
  font-size: 48px;
  line-height: 1.25;
  margin-bottom: 23px
}

.reactweb_skills {
  width: 100%;
  height: auto;
  clear: both;
  float: left
}

.reactweb_skills .wrapper {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center
}

.reactweb_skills .left {
  width: 50%;
  padding-right: 100px
}

.dodo_progress {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 30px;
  overflow: hidden
}

.progress_inner {
  width: 100%;
  margin-bottom: 22px
}

.progress_inner:last-child {
  margin-bottom: 0
}

.progress_inner>span {
  margin: 0 0 9px;
  display: block;
  text-align: left;
  position: relative
}

.progress_inner span.label {
  opacity: 0;
  transform: translateY(10px);
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: jost, sans-serif;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}

.progress_inner span.label.opened {
  opacity: 1;
  transform: translateY(0px)
}

.progress_inner span.number {
  float: right;
  position: absolute;
  right: 100%;
  bottom: -2px;
  transition: all 2s cubic-bezier(.165, .84, .44, 1);
  color: #f75023;
  font-size: 16px;
  font-family: jost, sans-serif
}

.progress_inner .background {
  background: #e7e5f1;
  width: 100%;
  min-width: 100%;
  position: relative;
  height: 8px;
  border-radius: 50px
}

.progress_inner .background .bar_in {
  height: 8px;
  width: 0;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
  top: 0
}

.progress_inner .background .bar {
  width: 0;
  height: 100%
}

.progress_inner .background .bar.open {
  -webkit-animation: wow 2s cubic-bezier(.165, .84, .44, 1);
  -moz-animation: wow 2s cubic-bezier(.165, .84, .44, 1);
  animation: wow 2s cubic-bezier(.165, .84, .44, 1);
  width: 100%
}

@-webkit-keyframes wow {
  0% {
    width: 0%
  }

  100% {
    width: 100%
  }
}

@-moz-keyframes wow {
  0% {
    width: 0%
  }

  100% {
    width: 100%
  }
}

@keyframes wow {
  0% {
    width: 0%
  }

  100% {
    width: 100%
  }
}

.reactweb_skills .right {
  width: 50%;
  padding-left: 100px
}

.reactweb_skills .right img {
  max-height: 800px
}

.reactweb_services {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 178px;
  margin-bottom: 160px;
  position: relative
}

.reactweb_services .service_list {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 86px
}

.reactweb_services .service_list ul {
  margin: 0 0 0 -25px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 3
}

.reactweb_services .service_list ul li {
  margin: 0 0 25px;
  width: 50%;
  float: left;
  padding-left: 25px
}

.reactweb_services .service_list ul li .list_inner {
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 18px 0 87px rgba(10, 15, 70, .07);
  padding: 65px 65px 65px 195px
}

.reactweb_services .service_list ul li.simple .list_inner {
  box-shadow: none;
  border-radius: 0;
  padding: 0 60px 0 0;
  background-color: transparent
}

.reactweb_services .service_list ul li.text {
  text-align: center;
  padding: 0 100px
}

.reactweb_services .service_list .title {
  width: 100%;
  float: left;
  margin-bottom: 19px
}

.reactweb_services .service_list .title h3 {
  font-size: 30px;
  margin-bottom: 16px
}

.reactweb_services .service_list .price {
  font-weight: 500;
  font-size: 21px;
  color: #000;
  font-family: jost, sans-serif
}

.reactweb_services .service_list .price span {
  font-size: 24px;
  color: #f75023
}

.reactweb_services .service_list .icon {
  position: absolute;
  left: 65px;
  top: 65px;
  width: 95px;
  height: 95px
}

.reactweb_services .service_list .icon .svg {
  width: 45px;
  height: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  color: #e8060a
}

.reactweb_services .service_list .icon .back {
  position: absolute;
  max-width: 95px;
  top: 0
}

.reactweb_services .service_list .wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%
}

.reactweb_services .service_list .wrapper h3 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -.2px;
  margin-bottom: 35px
}

.reactweb_services .popup_service_image {
  opacity: 0;
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: -111
}

.reactweb_services .service_hidden_details {
  opacity: 0;
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: -111
}

.reactweb_modalbox .service_popup_informations {
  width: 100%;
  height: auto;
  clear: both;
  float: left
}

.reactweb_modalbox .service_popup_informations .image {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 37px
}

.reactweb_modalbox .service_popup_informations .image img {
  position: relative;
  min-width: 100%;
  opacity: 0
}

.reactweb_modalbox .service_popup_informations .image .main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px
}

.reactweb_modalbox .service_popup_informations .main_title {
  width: 100%;
  float: left;
  margin-bottom: 23px
}

.reactweb_modalbox .service_popup_informations .main_title h3 {
  font-size: 30px;
  margin-bottom: 5px
}

.reactweb_modalbox .service_popup_informations .main_title span {
  font-weight: 500;
  font-size: 21px;
  color: #000;
  font-family: jost, sans-serif
}

.reactweb_modalbox .service_popup_informations .main_title span span {
  font-size: 24px;
  color: #f75023
}

.reactweb_modalbox .service_popup_informations .descriptions {
  width: 100%;
  float: left
}

.reactweb_modalbox .service_popup_informations .descriptions p {
  margin-bottom: 15px
}

.reactweb_modalbox .service_popup_informations .descriptions p:last-child {
  margin-bottom: 0
}

.reactweb_services .brush_1 {
  position: absolute;
  top: 300px;
  left: 0
}

.reactweb_services .brush_1 img {
  max-width: 460px
}

.reactweb_services .brush_2 {
  position: absolute;
  top: 0;
  right: 0
}

.reactweb_contact {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 190px;
  margin-bottom: 150px;
  position: relative
}

.reactweb_contact .contact_inner {
  width: 100%;
  display: flex;
  margin-top: 80px;
  margin-bottom: 182px;
  position: relative
}

.reactweb_contact .left {
  width: 50%
}

.reactweb_contact .left ul {
  margin: 0;
  list-style-type: none
}

.reactweb_contact .left ul li {
  margin: 0 0 15px
}

.reactweb_contact .left ul li:last-child {
  margin-bottom: 0
}

.reactweb_contact .left .list_inner {
  display: flex;
  align-items: center
}

.reactweb_contact .left .icon {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  position: relative
}

.reactweb_contact .left .icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 22px;
}

.reactweb_contact .left .short {
  padding-left: 25px
}

.reactweb_contact .left .short h3 {
  font-size: 30px;
  margin-bottom: 5px
}

.reactweb_contact .left .short a {
  text-decoration: none;
  color: #6f6b80;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.reactweb_contact .left .short a:hover {
  color: #f75023
}

.reactweb_contact .right {
  width: 50%
}

.reactweb_contact .fields {
  width: 100%;
  height: auto;
  clear: both;
  float: left
}

.reactweb_contact .input_list {
  width: 100%;
  height: auto;
  clear: both;
  float: left
}

.reactweb_contact .input_list ul {
  margin: 0 0 0 -12px;
  list-style-type: none
}

.reactweb_contact .input_list ul li {
  margin: 0 0 12px;
  width: 50%;
  float: left;
  padding-left: 12px
}

.reactweb_contact input {
  width: 100%;
  height: 58px;
  padding: 0 30px;
  background-color: transparent;
  border: 1px solid #d6dbe5;
  border-radius: 12px;
  color: #6f6b80;
  font-size: 18px
}

.reactweb_contact input:focus {
  background-color: transparent;
  outline: none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}

.reactweb_contact .message_area {
  width: 100%;
  float: left;
  margin-bottom: 4px
}

.reactweb_contact .message_area textarea {
  width: 100%;
  height: 200px;
  padding: 16px 30px 30px !important;
  background-color: transparent;
  border: 1px solid #d6dbe5;
  border-radius: 12px;
  color: #6f6b80;
  font-size: 18px
}

.reactweb_contact .message_area textarea:focus {
  background-color: transparent;
  outline: none
}

.reactweb_contact .empty_notice {
  color: #f52225;
  margin-bottom: 7px;
  display: none;
  text-align: left;
  font-weight: 500
}

.reactweb_contact .contact_error {
  color: #f52225;
  text-align: left;
  font-weight: 500
}

.reactweb_contact .returnmessage {
  color: #3a00ff;
  margin-bottom: 7px;
  text-align: left;
  font-weight: 500
}

.reactweb_map {
  width: 100%;
  float: left
}

.gmap_canvas {
  border-radius: 12px
}

.reactweb_contact .brush_1 {
  position: absolute;
  top: 100px;
  left: 0
}

.reactweb_contact .contact_inner .brush_2 {
  position: absolute;
  bottom: -100px;
  right: -150px
}

.reactweb_copyright {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  background-color: #f2f5fb;
  padding: 57px 0 61px
}

.reactweb_copyright .inner {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.reactweb_copyright .left p {
  font-size: 16px
}

.reactweb_copyright .left a {
  text-decoration: none;
  color: #6f6b80;
  font-weight: 700;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.reactweb_copyright .left a:hover {
  color: #f75023
}

.reactweb_copyright .right ul {
  margin: 0;
  list-style-type: none
}

.reactweb_copyright .right ul li {
  margin: 0 42px 0 0;
  display: inline-block
}

.reactweb_copyright .right ul li:last-child {
  margin-right: 0
}

.reactweb_copyright .right ul li a {
  text-decoration: none;
  color: #6f6b80;
  font-size: 16px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.reactweb_copyright .right ul li a:hover {
  color: #f75023
}

.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  z-index: 100;
  background-color: #f75023;
  -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
  transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out
}

.cursor-inner.cursor-hover {
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background-color: #f75023;
  opacity: .3
}

.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid #f75023;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  opacity: .5;
  -webkit-transition: all .08s ease-out;
  transition: all .08s ease-out
}

.cursor-outer.cursor-hover {
  opacity: 0
}

.reactweb_mainwrapper[data-magic-cursor=hide] .mouse-cursor {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1111
}

.orangeBackground {
  background-color: #fedfd7 !important;
}
.greenBackground {
  background-color: #ddf5e6 !important;
}
.purpleBackground {
  background-color: #ece8fd !important;
}